:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(245, 243, 243);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav ul li a:link,
nav ul li a:visited {
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
  color:rgb(155, 84, 8);
}

nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

nav li {
  margin-left: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}

#bite-me {
  padding-top: 2rem;
}

.event-img-grid {
  display: grid;
  grid-template-areas: 
    "item1 item1 item1"
    "item2 item3 item4";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

#item-1 {
  grid-area: item1;
}

#item-2 {
  grid-area: item2;
}

#item-3 {
  grid-area: item3;
}

#item-4 {
  grid-area: item4;
}


@media (min-width: 768px){
  .event-img-grid {
    display: grid;
    grid-template-areas: 
      "item1 item2"
      "item3 item4";
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 960px){
  .asdf {

  }
}